<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 通过静态工厂方法配置Bean -->
	<!-- 
		class:指向静态工厂方法的类名
		factory-method:指向类中的静态方法
		value:为方法的参数赋值
	 -->
	<bean id="car1" class="com.liang.spring.beans.factory.StaticCarFactory"
	factory-method="getCar">
	<!-- 构造参数赋值 -->
	<constructor-arg value="audi"></constructor-arg>
	</bean>
	<!--配置工厂的实例 先创建实例-->
	<bean id="carFactory" class="com.liang.spring.beans.factory.InitanceCarFactory"></bean>
	<bean id="car2" factory-bean="carFactory" factory-method="getCar">
		<constructor-arg value="Benz"></constructor-arg>
	</bean>
	

	
</beans>