<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!--
	 	配置bean 
	 class:bean的全类名。通过反射在IOC容器中创建bean,所有bean必须要有无参的构造方法
	-->
	<!-- 使用spel 为属性赋值 -->
	<bean id="address" class="com.liang.spring.beans.spel.Address">
		<property name="city" value="#{'beijing'}"></property>
		<property name="street" value="#{'wendushuicheng'}"></property>
	</bean>
	<bean id="car" class="com.liang.spring.beans.spel.Car">
		<property name="name" value="Benz"></property>
		<property name="price" value="38888"></property>
		<!-- 使用SpEL 引用类的静态属性 -->
		<property name="wight" value="#{T(java.lang.Math).PI*80}"></property>
	</bean>
	<bean id="person" class="com.liang.spring.beans.spel.Person">
		<property name="name" value="RuiDe"></property>
		<property name="age" value="24"></property>
		<!-- 使用spel来引用其他的Bean -->
		<property name="car" value="#{car}"></property>
		<!-- 使用spel来引用其他Bean的属性 -->
		<property name="city" value="#{address.city}"></property>
		<!-- 在spel中使用运算符 -->
		<property name="info" value="#{car.price>30000 ? '金领':'白领'}"></property>
	</bean>
</beans>